.container {
    width: 100vw;
    /* position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   */
}

.tableWrapper {
    border: 1px solid #000;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.columnWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    width: max-content;
}

li {
    height: 30px;
}